.heading{
    text-align: left;
    padding: 15px 10px;
    background-color: #333333;
    border-radius: 0.25rem 0.25rem 0 0;
    color: #fff;
    margin-bottom: 0;
}

.box{
    border: 1px solid #3333;
    padding: 25px;
}

.form-group{
    text-align: left;
}

.form-control{
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}